* {
    box-sizing: border-box;
}

html,
body {
  padding-left: 55px;
  background-color: #fdd043;
  font-size: 62.5%;
  font-family: "Roboto";
}

#root {
  display: flex;
  justify-content: flex;
}

p {
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}
